In [1]:
import pandas as pd

In [35]:
df_huff = pd.read_csv("huffdata_clean_v2.csv")
df_bbc = pd.read_csv("bbc-news-data.csv", sep='\t')

In [32]:
df_huff.head()

    category                                            content
0  U.S. NEWS  U.S. health officials say 4.4 million American...
1  U.S. NEWS  A volatile passenger has been charged with a f...
2     COMEDY  Woof — it’s been a long, long week. We don’t h...
3  U.S. NEWS  A white woman who said that she was unfairly f...
4  U.S. NEWS  COLUMBIA, S.C. (AP) — A 63-year-old worker die...

In [39]:
df_bbc.head()

   category                                            content
0  BUSINESS   Quarterly profits at US media giant TimeWarne...
1  BUSINESS   The dollar has hit its highest level against ...
2  BUSINESS   The owners of embattled Russian oil giant Yuk...
3  BUSINESS   British Airways has blamed high fuel prices f...
4  BUSINESS   Shares in UK drinks and food firm Allied Dome...

In [29]:
df_huff = df_huff[['category', 'content']]

In [36]:
df_bbc = df_bbc[['category', 'content']]

In [38]:
df_bbc['category'] = df_bbc['category'].apply(lambda x: x.upper())

In [41]:
df_huff['category'].value_counts()

category
POLITICS          32568
WELLNESS          16240
ENTERTAINMENT     15847
TRAVEL             8999
STYLE & BEAUTY     8340
PARENTING          7257
HEALTHY LIVING     6359
FOOD & DRINK       5733
QUEER VOICES       5479
BUSINESS           5113
SPORTS             4391
PARENTS            3652
BLACK VOICES       3638
COMEDY             3548
HOME & LIVING      3467
IMPACT             3330
THE WORLDPOST      3278
WORLD NEWS         3271
CRIME              3123
WOMEN              3112
WEDDINGS           2950
DIVORCE            2768
MEDIA              2544
WORLDPOST          2442
RELIGION           2370
WEIRD NEWS         2231
GREEN              2169
STYLE              2123
TASTE              2031
SCIENCE            1994
TECH               1749
MONEY              1612
ARTS               1484
U.S. NEWS          1371
FIFTY              1363
ARTS & CULTURE     1300
GOOD NEWS          1227
ENVIRONMENT        1220
COLLEGE             999
EDUCATION           994
LATINO VOICES       964
CULTURE & ARTS      922
Name: count, dtype: int64

In [42]:
df_bbc['category'].value_counts()

category
SPORT            511
BUSINESS         510
POLITICS         417
TECH             401
ENTERTAINMENT    386
Name: count, dtype: int64

In [43]:
df = pd.concat([df_huff, df_bbc])

In [44]:
df.head()

    category                                            content
0  U.S. NEWS  U.S. health officials say 4.4 million American...
1  U.S. NEWS  A volatile passenger has been charged with a f...
2     COMEDY  Woof — it’s been a long, long week. We don’t h...
3  U.S. NEWS  A white woman who said that she was unfairly f...
4  U.S. NEWS  COLUMBIA, S.C. (AP) — A 63-year-old worker die...

In [57]:
df = df.dropna()

In [52]:
import re
import nltk
import numpy as np
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [49]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to C:\Users\Jeffrey
[nltk_data]     Ng\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Jeffrey
[nltk_data]     Ng\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [54]:
def preprocess(df):
    """Preprocess the text

    Does the same preprocess we used for the text that went into training the
    model.

    Args:
        text: text that will be preprocessed
        title: will be added to the front of the text if title is provided

    Returns:
        preprcoessed text to be used in the model

    """

    # Remove unwanted characters
    df['content'] = df['content'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

    # Convert text to lowercase
    df['content'] = df['content'].str.lower()

    # Remove unwanted space
    df['content'] = df['content'].apply(lambda x: " ".join(x.split()))

    # Replace empty strings with NaN
    df['content'] = df['content'].replace('', np.nan)

    # Remove stopwords
    stop = stopwords.words('english')
    df['content'] = df['content'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))


    # Lemmatizing words
    lemmatizer = WordNetLemmatizer()
    df['content'] = df['content'].apply(lambda x: lemmatizer.lemmatize(x))
    #text = text.split()


    return df

In [58]:
df = preprocess(df)

C:\Users\Jeffrey Ng\AppData\Local\Temp\ipykernel_43196\3942662036.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))
C:\Users\Jeffrey Ng\AppData\Local\Temp\ipykernel_43196\3942662036.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].str.lower()
C:\Users\Jeffrey Ng\AppData\Local\Temp\ipykernel_43196\3942662036.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].apply(lambda x: " ".join(x.split()))
C:\Users\Jeffrey Ng\AppData\Local\Temp\ipykernel_43196\3942662036.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].replace('', np.nan)
C:\Users\Jeffrey Ng\AppData\Local\Temp\ipykernel_43196\3942662036.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
C:\Users\Jeffrey Ng\AppData\Local\Temp\ipykernel_43196\3942662036.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['content'] = df['content'].apply(lambda x: lemmatizer.lemmatize(x))

In [2]:
df['category'].value_counts()

NameError: name 'df' is not defined

In [1]:
df.to_csv("cat_data.csv", index=False)

NameError: name 'df' is not defined